.text-bold {
    font-weight: bold;
}

.text-normal {
    font-weight: normal;
}

.host_rating {
    // color: yel;
    // width: 27px;
    // height: 27px;
    // line-height: 27px;
    // margin-right: 5px;
    // margin-left: -10px;
    color: var(--ion-text-color);
    font-family: 'Courier New', Courier, monospace;
    // font-size: 1.1em;
    // background: rgba(255, 255, 0, 50%);
    // text-align: center;
    // border-radius: 50%;
}